/*                               PRINCIPAL                                */
/*------------------------------------------------------------------------*/
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 300;
  border: 2px solid rgb(20, 2, 87);
  border-radius: 15px;
  padding: 5px;
  background-color: rgb(62, 4, 117);
}

/*                        NOMBRE DEL JUEGO                                */
/*------------------------------------------------------------------------*/
.divName{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding:2px;
  text-align: center;
  font-weight: bold;
  border: 1px solid darkblue;
  border-start-end-radius: 12px;
  border-start-start-radius: 12px;
  background-color: rgb(210, 186, 219);
}
.divName h3{
  text-align: center;
  padding-left: 15px;
}
.link{
  text-decoration: none;
}

/*                        IMAGEN DEL JUEGO                                */
/*------------------------------------------------------------------------*/
.divImg{
  display: flex;
  width: 100%;
  height: 100%;
}
.imgCard{
  width: 100%;
  border: 1px solid darkblue;
  object-fit: cover;
}

.imgEditar{
  /* position: relative;
  left: 35px; */
  background-color: rgb(210, 186, 219);
  width: 20px;
  height: 20px;
  padding-right: 2px;
}

/*                        RATING DEL JUEGO                                */
/*------------------------------------------------------------------------*/
.divRating{
  display: flex;
  width: 100%;
  padding: 3px;
  justify-content: center;
  background-color: blueviolet;
  border: 1px solid darkblue;
  font-size: 0.9rem;
}

/*                           PLATAFORMAS                                  */
/*------------------------------------------------------------------------*/
.divPlatform{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  align-items: center;
  /* grid-template-columns: repeat(2, 1fr); */
  /* place-items: center; */
  gap: 5px;
  border-left: 1px solid darkblue;
  border-right: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
  padding: 5px;
  border-end-end-radius: 12px;
  border-end-start-radius: 12px;
  background-color: rgb(210, 186, 219);
}

/*                        GENEROS DEL JUEGO                                */
/*------------------------------------------------------------------------*/
.divGenres{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* grid-template-columns: repeat(2, 1fr); */
  /* place-items: center; */
  gap: 5px;
  border-left: 1px solid darkblue;
  border-right: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
  padding: 5px;
  background-color: rgb(210, 186, 219);
}
.divGenresH4{
  padding: 4px;
  width: 100%;
  border-left: 1px solid darkblue;
  border-right: 1px solid darkblue;
  border-bottom: 1px solid rgb(210, 186, 219);
  background-color: rgb(210, 186, 219);
}
.p{
  width: auto;
  height: 30px;
  border: 1px solid blue;
  background-color: darkblue;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: 0.8rem;
}

