/*                               PRINCIPAL                                */
/*------------------------------------------------------------------------*/
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: auto;
  border: 2px solid rgb(20, 2, 87);
  border-radius: 15px;
  padding: 5px;
  background-color: rgb(62, 4, 117);
  transition: transform .6s;
}
.card:hover{
  transform: scale(1.1);
}
.cardHover{
  transition: transform 0s;
}
.cardHover:hover{
  transform: none;
}

/*                        NOMBRE DEL JUEGO                                */
/*------------------------------------------------------------------------*/
.divName{
  /* display: flex; */
  display: grid;
  grid-template-columns: 80% 20%;

  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  padding:2px;
  font-weight: bold;
  border: 1px solid darkblue;
  border-start-end-radius: 12px;
  border-start-start-radius: 12px;
  background-color: rgb(210, 186, 219);
}
.divName h3{
  text-align: center;
  padding-left: 15px;
}
.link{
  text-decoration: none;
  text-align: center;
}

/*                        IMAGEN DEL JUEGO                                */
/*------------------------------------------------------------------------*/
.divImg{
  display: flex;
  width: 100%;
  height: 100%;
}
.imgCard{
  width: 100%;
  border: 1px solid darkblue;
  object-fit: cover;
}

.imgEditar{
  /* position: relative;
  left: 35px; */
  background-color: rgb(210, 186, 219);
  width: 20px;
  height: 20px;
  padding-right: 2px;
}

/*                        RATING DEL JUEGO                                */
/*------------------------------------------------------------------------*/
.divRating{
  display: flex;
  width: 100%;
  padding: 3px;
  justify-content: center;
  background-color: blueviolet;
  border: 1px solid darkblue;
  font-size: 0.9rem;
}

/*                           PLATAFORMAS                                  */
/*------------------------------------------------------------------------*/
.divPlatform{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  align-items: center;
  /* grid-template-columns: repeat(2, 1fr); */
  /* place-items: center; */
  gap: 5px;
  border-left: 1px solid darkblue;
  border-right: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
  padding: 5px;
  border-end-end-radius: 12px;
  border-end-start-radius: 12px;
  background-color: rgb(210, 186, 219);
}

/*                        GENEROS DEL JUEGO                                */
/*------------------------------------------------------------------------*/
.divGenres{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* grid-template-columns: repeat(2, 1fr); */
  /* place-items: center; */
  gap: 5px;
  border-left: 1px solid darkblue;
  border-right: 1px solid darkblue;
  border-bottom: 1px solid darkblue;
  padding: 5px;
  background-color: rgb(210, 186, 219);
}
.divGenresH4{
  padding: 4px;
  width: 100%;
  border-left: 1px solid darkblue;
  border-right: 1px solid darkblue;
  border-bottom: 1px solid rgb(210, 186, 219);
  background-color: rgb(210, 186, 219);
}
.p{
  width: auto;
  height: 30px;
  border: 1px solid blue;
  background-color: darkblue;
  border-radius: 5px;
  padding: 5px;
  color: white;
  font-size: 0.8rem;
}

/*                           MODAL PARA MOSTRAR MENSAJES                               */
/*-------------------------------------------------------------------------------------*/
.divBtnEliEdi{
  display: flex;
  gap: 2px;
}
.divBtnModal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 75px;
}
.divModal{
  display: flex;
  height: 100vmax;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 19, 19, 0.92);
  border: 3px solid aqua;
}
.divModal:hover{
  transform: none;
}
.divMessage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  width: 50%;
  height: auto;
  font-size: 0.7rem;
  border: 3px solid black;
  border-radius: 12px;
  padding: 15px;
  gap: 15px;
  text-align: center;
  margin-top: 150px;
}
.botonCierre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: hsl(0, 100%, 50%);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  transition: transform .3s;
}
.botonCierre:hover {
  transform: scale(1.3);
}

.button {
  width: auto;
  display: inline-block;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ece8e8;
  background-color: #4b049c;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0px;
}
.button:hover {
  background-color: #ffbb00;
  transform: scale(1.1)
}