.searchBar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  height: 100%;
  border: 1px solid darkblue;
  padding: 5px;
}
.divSearchName{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.input{
  width: 250px;
  height: 35px;
  border-radius: 10px;
  border-color: rgb(15, 15, 15);
  padding: 5px;
}

.button {
  width: 150px;
  display: inline-block;
  padding: 8px 20px;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #0c0a0a;
  background-color: #ffee00;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 0px;
}
.button:hover {
  background-color: #ffbb00;
  transform: scale(1.1)
}

.divModal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(20, 19, 19, 0.92);
  border: 3px solid aqua;
}
.divMessage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: white;
  width: 50%;
  height: auto;
  font-size: 0.7rem;
  border: 3px solid black;
  border-radius: 12px;
  padding: 15px;
  gap: 15px;
  text-align: center;
}